.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading{
  margin-top: 3rem;
  width: 10rem;
  height: 10rem;
}
